In [ ]:
### features = ['Pclass','Sex','Age']
### Age Nan values = 0

In [1]:
import pandas as pd

In [2]:
train_data = pd.read_csv('../../data/train.csv')
test_data = pd.read_csv('../../data/test.csv')
print 'Shape train data:', train_data.shape
print 'Shape test data:', test_data.shape

Shape train data: (891, 12)
Shape test data: (418, 11)

In [3]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
train_data.columns

Index([u'PassengerId', u'Survived', u'Pclass', u'Name', u'Sex', u'Age',
       u'SibSp', u'Parch', u'Ticket', u'Fare', u'Cabin', u'Embarked'],
      dtype='object')

In [6]:
features = ['Pclass','Sex','Age']
X = train_data[features]
y = train_data['Survived']
X.describe()

           Pclass         Age
count  891.000000  714.000000
mean     2.308642   29.654300
std      0.836071   14.420063
min      1.000000    0.420000
25%      2.000000   20.125000
50%      3.000000   28.000000
75%      3.000000   38.000000
max      3.000000   74.000000

In [7]:
X = X.fillna(value = {'Age': 0})
X.describe()

           Pclass         Age
count  891.000000  891.000000
mean     2.308642   23.763378
std      0.836071   17.513700
min      1.000000    0.000000
25%      2.000000    6.000000
50%      3.000000   24.000000
75%      3.000000   35.000000
max      3.000000   74.000000

In [62]:
X = pd.get_dummies(X_train)
X.head()

   Pclass   Age  Sex_female  Sex_male
0       3  22.0           0         1
1       1  38.0           1         0
2       3  26.0           1         0
3       1  35.0           1         0
4       3  35.0           0         1

In [8]:
X_predict = test_data[features]
X_predict = X_predict.fillna(value = {'Age': 0})
X_predict = pd.get_dummies(X_predict)

In [94]:
from sklearn.model_selection import train_test_split
from sklearn import neighbors
from sklearn import metrics
from sklearn import tree
from sklearn import svm
import numpy as np

PRC = 0.1
acc_r = np.zeros((100,4))

for i in xrange(100):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = PRC)
    knn3 = neighbors.KNeighborsClassifier(n_neighbors = 3)
    knn5 = neighbors.KNeighborsClassifier(n_neighbors = 5)
    svc = svm.SVC()
    dt = tree.DecisionTreeClassifier()
    
    knn3.fit(X_train, y_train)
    knn5.fit(X_train, y_train)
    svc.fit(X_train, y_train)
    dt.fit(X_train, y_train)
    
    yhat_knn3 = knn3.predict(X_test)
    yhat_knn5 = knn5.predict(X_test)
    yhat_svc = svc.predict(X_test)
    yhat_dt = dt.predict(X_test)
    
    acc_r[i][0] = metrics.accuracy_score(yhat_knn3, y_test)
    acc_r[i][1] = metrics.accuracy_score(yhat_knn5, y_test)    
    acc_r[i][2] = metrics.accuracy_score(yhat_svc, y_test)    
    acc_r[i][3] = metrics.accuracy_score(yhat_dt, y_test)    

acc_r.shape = (4,100)
print "Mean expected error kkn3:" + str(np.mean(acc_r[0]))
print "Mean expected error kkn5:" + str(np.mean(acc_r[1]))
print "Mean expected error svc:" + str(np.mean(acc_r[2]))
print "Mean expected error dt:" + str(np.mean(acc_r[3]))

Mean expected error kkn3:0.7875555555555556
Mean expected error kkn5:0.7896666666666667
Mean expected error sv:0.8000000000000002
Mean expected error dt:0.7915555555555556

In [95]:
yhat_svc_predicted = svc.predict(X_predict)

In [97]:
output = pd.DataFrame({'PassengerId': data_test.PassengerId, 'Survived' : yhat_svc_predicted})
output.to_csv('my_submission_svc.csv', index = False)
print('Submission successfully saved')

Submission successfully saved